#postdive{font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #61abff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#predive {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #66b517;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
li{
    background-color: transparent;
    
}
#mainpage{
    background-image: url("www/images/divebackground.png");
}